misaka
psutil
requests
requests_html
feedgen
yt-dlp
# pytube3
# ssl
# pytube
# pytubefix
tornado
pytz
cloudscraper
#git+https://github.com/JuanBindez/pytubefix.git
git+https://github.com/JuanBindez/pytubefix.git@fbeec3640fffb18e8031edbc8c88d1d205a076f7
